form {
  width: 240px;
  margin: 35px auto 32px;
  display: block;
  float: none;
}

button {
  width: 80px;
  height: 24px;
  margin: 18px;
}

table {
  border-spacing: 0;
  margin: 0 auto;
}

.current {
  font-weight: 900;
  font-size: 2rem
}

.vertical {
  text-orientation: upright
}

.marg {
  margin-bottom: 12px;
}

.mat-form-field {
  width: 100%;
  text-align: center;
}

.misc-bottom-padding {
  margin: 8px 0 20px;
}

.misc-bottom-padding mat-label {
  margin-right: 15px;
}

.mat-radio-label {
  margin: 0 15px 0 0;
}

.title-center {
  margin: 0 auto;
}

.button-wrapper {
  margin-top: 10px;
}

.maxescontent {
  background-color: rgba(16, 0, 13, 0.8);
  overflow: auto;
  height: calc(100vh - 64px);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.swipe {
  background-color: #76b490;
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  height: 500px;
  text-align: center;
  overflow: auto;
  color: rgb(78, 22, 131);
  user-select: none;
}